.accent-typography__word {
  display: inline-block;
  margin: 0 5px;
}

.accent-typography__word > span {
  display: inline-block;
  opacity: 0;
  transform: translate3d(0, 1em, 0);
}

.accent-typography.active .accent-typography__word > span {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}