.header {
  transform: translateY(-100%);
  transition: transform var(--duration-short) var(--duration-short) ease;

  .page-loaded & {
    transform: translateY(0);
  }
}

.hero__title {
  opacity: 0;
  transition: opacity var(--duration-short) var(--duration-medium) ease;

  .page-loaded & {
    opacity: 1;
  }
}

.hero__descr {
  opacity: 0;
  transition: opacity var(--duration-short) var(--duration-medium) ease;

  .page-loaded & {
    opacity: 1;
  }
}

.hero__btn {
  opacity: 0;
  transition: opacity var(--duration-short) var(--duration-long) ease;

  .page-loaded & {
    opacity: 1;
  }
}

.hero__img {
  opacity: 0;
  transition: opacity var(--duration-short) var(--duration-extra-long) ease;

  .page-loaded & {
    opacity: 1;
  }
}

.burger--active {
  &::after,
  &::before {
    background-color: var(--accent-color);
  }

  &::after {
    top: 50%;
    transform: translateY(-50%) rotate(-27deg);
  }

  &::before {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotate(27deg);
  }

  .burger__line {
    opacity: 0;
  }
}

.nav--active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--duration-short) var(--timing-func), transform 1s var(--timing-func);

  .nav__item {
    animation: fadeInRight 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-delay: (100ms * $i);
      }
    }
  }
}
