.facts {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
    border-bottom-right-radius: 200px;
    width: 55%;
    height: 100%;
    background-color: var(--beige-color);

    @include tablet {
      border-bottom-right-radius: clamp(20px, 18vw, 300px);
      width: 100%;
    }
  }

  &::after {
    @include bg-cover;

    content: "";
    position: absolute;
    left: 0;
    top: 62px;
    z-index: -2;
    width: 267px;
    height: 470px;
    background-image: url("../img/flower.svg");
  }

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: clamp(30px, 3.8vw, 72px);

    @include tablet {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: start;
      gap: 60px;
    }

    @include mobile {
      align-items: normal;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: clamp(30px, 3.8vw, 72px);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    max-width: 246px;

    @include tablet {
      max-width: 100%;
    }
  }

  &__title {
    position: absolute;
    right: 193px;
    top: -283px;
    margin: 0;
    width: 410px;
    font-size: 56px;

    @include tablet {
      position: unset;
      right: unset;
      top: unset;
      margin: 0 auto 30px auto;
      font-size: 40px;
    }

    @include mobile {
      font-size: 28px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: clamp(1rem, 3.8vw, 72px);

    @include mobile {
      flex-direction: column;
    }
  }

  &__content {
    width: 403px;

    @include tablet {
      min-width: 58%;
    }

    @include mobile {
      width: auto;
      min-width: unset;
    }
  }

  &__descr {
    margin-bottom: 48px;

    p {
      margin: 0;
      font-weight: 500;
      font-size: 20px;
      color: var(--light-grey-color);

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      @include mobile {
        text-align: center;
      }
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 24px;
    color: var(--dark-color);

    @include mobile {
      font-size: 18px;
    }
  }

  &__item-descr {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: var(--light-grey-color);
  }

  &__btn {
    width: 239px;

    @include mobile {
      margin: 0 auto;
    }
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
