.header {
  border-bottom: 1px solid var(--grey-color);
  padding-top: 25px;
  padding-bottom: 27px;
  background-color: var(--beige-color);

  &__container {
    @include flex-all-sb;
  }

  &__logo {
    display: block;
    width: 198px;
    height: auto;

    @include mobile {
      width: 135px;
    }
  }

  &__list {
    @include flex-all-sb;
  }

  &__item {
    width: 22px;
    height: 22px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      transition: fill var(--duration-short);
    }

    &:not(:last-child) {
      margin-right: 25px;
    }

    @include hover {
      svg {
        fill: var(--accent-color);
      }
    }

    &:active {
      opacity: 0.6;
    }

    &:focus-visible {
      outline: none;

      svg {
        fill: var(--accent-dark-color);
      }
    }
  }
}
