.hero {
  border-bottom-right-radius: clamp(20px, 18vw, 300px);
  border-bottom-left-radius: clamp(20px, 18vw, 300px);
  padding-top: 90px;
  padding-bottom: 83px;
  background-color: var(--beige-color);

  &__container {
    @include flex-all-sb;

    flex-direction: column;
  }

  &__content {
    @include flex-all-center;

    flex-direction: column;
    margin-bottom: 117px;
    text-align: center;

    @include tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 66px;
    color: var(--dark-color);

    @include tablet {
      font-size: clamp(32px, 5vw, 50px);
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 32px;
    max-width: 726px;
    font-size: 22px;
    line-height: 138%;
    color: var(--grey-color);

    @include mobile {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  &__img {
    height: auto;
    max-width: 1151px;
  }

  @include mobile {
    padding-top: 60px;
    padding-bottom: 20px;
  }
}
