<section class="about">
  <div class="container about__container">
    <div class="about__content">
      <h2 class="title about__title">Our products are <span>Game-changing vitamins</span></h2>
      <p class="about__descr">Low in sugar (sweetened with a fruit base) Free from gluten, gelatine, dairy, egg,nutsor
        soy Free from artificial flavours or colours Vegan friendly It is a long established fact that a reader will be
        distracted by the Free from artificial flavours or colours Vegan friendly It is a long established fact that a
        reader will be distracted by the...</p>
      <h3 class="about__subtitle">Complete your routine</h3>
      <div class="about__swiper-inner">
        <button class="btn-reset about-swiper-btn-prev swiper-button-prev">
          <svg>
            <use xlink:href="img/sprite.svg#swiper-arrow-prev"></use>
          </svg>
        </button>
        <button class="btn-reset about-swiper-btn-next swiper-button-next">
          <svg>
            <use xlink:href="img/sprite.svg#swiper-arrow-next"></use>
          </svg>
        </button>
        <div class="swiper about__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="about-card">
                <div class="about-card__img">
                  <img src="./img/full-product.jpg" alt="Full range value pack (save 33%)" width="135" height="135">
                </div>
                <div class="about-card__content">
                  <h3 class="about-card__name">Full range value pack (save 33%)</h3>
                  <div class="about-card__prises">
                    <span class="about-card__prise">$134.95 NZD</span>
                    <span class="about-card__old-prise">$199.75 NZD</span>
                  </div>
                  <p class="about-card__descr">It is a long established fact that a reader will be distracted by thea long established fact that a reader will be distracted by the.....</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-card">
                <div class="about-card__img">
                  <img src="./img/product-apple-cider.jpg" alt="Apple cider vinegar (3 month supply)" width="135" height="135">
                </div>
                <div class="about-card__content">
                  <h3 class="about-card__name">Apple cider vinegar (3 month supply)</h3>
                  <div class="about-card__prises">
                    <span class="about-card__prise">$94.95 NZD</span>
                    <span class="about-card__old-prise">$199.75 NZD</span>
                  </div>
                  <p class="about-card__descr">It is a long established fact that a reader will be distracted by thea long established fact that a reader will be distracted by the.....</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-card">
                <div class="about-card__img">
                  <img src="./img/product-vitamin-c.jpg" alt="Vitamin c: immunity support" width="135" height="135">
                </div>
                <div class="about-card__content">
                  <h3 class="about-card__name">Vitamin c: immunity support</h3>
                  <div class="about-card__prises">
                    <span class="about-card__prise">$39.95 NZD</span>
                    <span class="about-card__old-prise">$199.75 NZD</span>
                  </div>
                  <p class="about-card__descr">It is a long established fact that a reader will be distracted by thea long established fact that a reader will be distracted by the.....</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-card">
                <div class="about-card__img">
                  <img src="./img/full-product.jpg" alt="Full range value pack (save 33%)" width="135" height="135">
                </div>
                <div class="about-card__content">
                  <h3 class="about-card__name">Full range value pack (save 33%)</h3>
                  <div class="about-card__prises">
                    <span class="about-card__prise">$134.95 NZD</span>
                    <span class="about-card__old-prise">$199.75 NZD</span>
                  </div>
                  <p class="about-card__descr">It is a long established fact that a reader will be distracted by thea long established fact that a reader will be distracted by the.....</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination about-swiper-pagination"></div>
      </div>
    </div>
    <div class="about__inner">
      <div class="about__img">
        <picture>
          <source srcset="./img/about-image.webp" type="image/webp">
          <img loading="lazy" src="./img/about-image.png" alt="Women with vitamins" width="707" height="875">
        </picture>
      </div>
    </div>
  </div>
</section>
