<section class="benefits">
  <div class="container benefits__container">
    <ul class="list-reset benefits__marks marks">
      <li class="marks__item">Gluten free</li>
      <li class="marks__item">Vegan friendly</li>
      <li class="marks__item">No nasties</li>
      <li class="marks__item">Pectinbase</li>
    </ul>
    <h2 class="title benefits__title">We have the main process to run the GOOD4ME</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href="img/sprite.svg#quality-icon"></use>
          </svg>
        </div>
        <h3>Quality Assured</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href="img/sprite.svg#ingredients-icon"></use>
          </svg>
        </div>
        <h3>Clean Ingredients</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <svg>
            <use xlink:href="img/sprite.svg#chemical-icon"></use>
          </svg>
        </div>
        <h3>Chemical Free</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
      </li>
    </ul>
  </div>
</section>
