<section class="facts">
  <div class="container facts__container">
    <div class="facts__row">
      <ul class="list-reset facts__list">
        <li class="facts__item">
          <h3>It is a long established fact that a reader</h3>
          <p>It is a long established fact that
            a reader will be distracted
            by the...</p>
        </li>
        <li class="facts__item">
          <h3>It is a long established fact that a reader</h3>
          <p>It is a long established fact that
            a reader will be distracted
            by the...</p>
        </li>
        <li class="facts__item">
          <h3>We a long established fact that as</h3>
          <p>It is a long established fact that
            a reader will be distracted
            by the...</p>
        </li>
        <li class="facts__item">
          <h3>It is a long established fact that a reader</h3>
          <p>It is a long established fact that
            a reader will be distracted
            by the...</p>
        </li>
      </ul>
      <div class="facts__col">
        <h2 class="title facts__title">Take control of <br> your health</h2>
        <div class="facts__wrapper">
          <div class="facts__img">
            <img src="./img/picture-product-fact.jpg" alt="Customer with product" width="509" height="643">
          </div>
          <div class="facts__content">
            <div class="facts__descr">
              <p>The Good4Me range has been formulated based on scientific. Our vitamins are here and ready to boost your
                mood, immunity and overall well-being!</p>
              <p>Our vitamins are here and ready to boost your mood. New Zealand from local and imported ingredients.</p>
            </div>
            <a href="#" class="btn btn--secondary facts__btn">Browse our range</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
