<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery__container">
    <div class="swiper gallery__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-1.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-1.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-2.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-2.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-3.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-3.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-4.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-4.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-5.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-5.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-1.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-1.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-2.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-2.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-3.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-3.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-4.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-4.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./img/gallery-5.webp" type="image/webp">
            <img loading="lazy" src="./img/gallery-5.jpg" alt="Picture" width="302" height="308">
          </picture>
        </div>
      </div>
    </div>
    <a href="#" class="gallery__link">@Good4me</a>
  </div>
</section>
