<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery__container">
    <div class="swiper gallery__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./img/gallery-1.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-2.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-3.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-4.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-5.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-1.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-2.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-3.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-4.jpg" alt="picture">
        </div>
        <div class="swiper-slide">
          <img src="./img/gallery-5.jpg" alt="picture">
        </div>
      </div>
    </div>
    <a href="#" class="gallery__link">@Good4me</a>
  </div>
</section>
