<header class="header">
  <div class="container header__container">
    <nav class="nav" title="Navigation" data-nav>
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link" data-nav-item>Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-nav-item>Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-nav-item>Faq's</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-nav-item>Stockists</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-nav-item>Wholesale</a></li>
        <li class="nav__item"><a href="#" class="nav__link" data-nav-item>Contact</a></li>
      </ul>
    </nav>
    <button class="btn-reset burger" aria-label="Open menu" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <a href="#" class="logo header__logo">
      <img src="./img/logo.png" alt="Logo Good4Me" width="198" height="47">
    </a>
    <ul class="list-reset header__list">
      <li class="header__item">
        <a href="#" class="header__link search" aria-label="Search">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link log-in" aria-label="Log in">
          <svg>
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link cart" aria-label="Cart">
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="cart__count">0</div>
        </a>
      </li>
    </ul>
  </div>
</header>
