<section class="hero">
  <h1 class="visually-hidden">Good4Me shop</h1>
  <div class="container hero__container">
    <div class="hero__content">
      <h2 class="hero__title">MULTI-VITAMIN (3&nbsp;MONTH SUPPLY)</h2>
      <p class="hero__descr">Good4Me Apple Cider Vinegar gummies are the newest addition to your
        morning health and well-being regime.</p>
      <a href="#" class="btn hero__btn">Shop now</a>
    </div>
    <div class="hero__img">
      <picture>
        <source srcset="./img/hero-img.webp" type="image/webp">
        <img loading="lazy" src="./img/hero-img.png" alt="Multivitamins" width="1151" height="483">
      </picture>
    </div>
  </div>
</section>
