<section class="news">
  <div class="container news__container">
    <h2 class="title news__title">Latest news</h2>
    <p class="news__descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
    <div class="swiper news__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="news-card">
            <div class="news-card__wrapper">
              <div class="news-card__img">
                <picture>
                  <source srcset="./img/news-1.webp" type="image/webp">
                  <img loading="lazy" src="./img/news-1.jpg" alt="News picture" width="359" height="438">
                </picture>
              </div>
              <div class="news-card__content">
               <h3 class="news-card__title">We donate one weeks supply</h3>
                <p class="news-card__descr">We care about New Zealand children, and we want to support our community by providing our children in need with necessary vitamins to improve....</p>
              </div>
              <a href="#" class="news-card__link">Read more
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <div class="news-card__date">July 26, 2020</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="news-card">
            <div class="news-card__wrapper">
              <div class="news-card__img">
                <picture>
                  <source srcset="./img/news-2.webp" type="image/webp">
                  <img loading="lazy" src="./img/news-2.jpg" alt="News picture" width="359" height="486">
                </picture>
              </div>
              <div class="news-card__content">
               <h3 class="news-card__title">We donate one weeks supply</h3>
                <p class="news-card__descr">We care about New Zealand children, and we want to support our community by providing....</p>
              </div>
              <a href="#" class="news-card__link">Read more
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <div class="news-card__date">July 26, 2020</div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="news-card">
            <div class="news-card__wrapper">
              <div class="news-card__img">
                <picture>
                  <source srcset="./img/news-3.webp" type="image/webp">
                  <img loading="lazy" src="./img/news-3.jpg" alt="News picture" width="359" height="386">
                </picture>
              </div>
              <div class="news-card__content">
               <h3 class="news-card__title">We donate one weeks supply</h3>
                <p class="news-card__descr">We care about New Zealand children, and we want to support our community by providing our children ....</p>
              </div>
              <a href="#" class="news-card__link">Read more
                <svg>
                  <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
              </a>
            </div>
            <div class="news-card__date">July 26, 2020</div>
          </article>
        </div>
      </div>
    </div>
 </div>
</section>
