<section class="reviews">
  <div class="container reviews__container">
    <h2 class="title reviews__title">What our happy cilents say</h2>
    <div class="reviews__wrapper">
      <div class="swiper reviews__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__user-info">
                <div class="review-card__img">
                  <img src="./img/user-1.jpg" alt="User photo" width="80" height="80" height="80">
                </div>
                <div class="review-card__user-details">
                  <h3 class="review-card__name">Sophie M</h3>
                  <p class="review-card__position">Management Support</p>
                </div>
              </div>
              <p class="review-card__text">
                “We have perfected our formulas over time, based on your feedback. Check out hundreds of reviews on
                  our website.We can't wait until you are a part of our Good4Me Family.”
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__user-info">
                <div class="review-card__img">
                  <img src="./img/user-2.jpg" alt="User photo" width="80" height="80">
                </div>
                <div class="review-card__user-details">
                  <h3 class="review-card__name">Coralieanne T</h3>
                  <p class="review-card__position">Management Support</p>
                </div>
              </div>
              <p class="review-card__text">
                “We have perfected our formulas over time, based on your feedback. Check out hundreds of reviews on
                  our website.We can't wait until you are a part of our Good4Me Family.”
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__user-info">
                <div class="review-card__img">
                  <img src="./img/user-3.jpg" alt="User photo" width="80" height="80">
                </div>
                <div class="review-card__user-details">
                  <h3 class="review-card__name">Benjamin W</h3>
                  <p class="review-card__position">Management Support</p>
                </div>
              </div>
              <p class="review-card__text">
                “We have perfected our formulas over time, based on your feedback. Check out hundreds of reviews on
                  our website.We can't wait until you are a part of our Good4Me Family.”
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__user-info">
                <div class="review-card__img">
                  <img src="./img/user-2.jpg" alt="User photo" width="80" height="80">
                </div>
                <div class="review-card__user-details">
                  <h3 class="review-card__name">Sophie M</h3>
                  <p class="review-card__position">Management Support</p>
                </div>
              </div>
              <div class="review-card__text">
                <p>“We have perfected our formulas over time, based on your feedback. Check out hundreds of reviews on
                  our website.We can't wait until you are a part of our Good4Me Family.”</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="review-card">
              <div class="review-card__user-info">
                <div class="review-card__img">
                  <img src="./img/user-2.jpg" alt="User photo" width="80" height="80">
                </div>
                <div class="review-card__user-details">
                  <h3 class="review-card__name">Coralieanne T</h3>
                  <p class="review-card__position">Management Support</p>
                </div>
              </div>
              <div class="review-card__text">
                <p>“We have perfected our formulas over time, based on your feedback. Check out hundreds of reviews on
                  our website.We can't wait until you are a part of our Good4Me Family.”</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination reviews-swiper-pagination"></div>
    </div>
  </div>
</section>
