<section class="structure">
  <div class="container structure__container">
    <h2 class="title structure__title">What's in good4me?</h2>
    <p class="structure__descr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
    <div class="structure__content">
      <div class="structure__info structure-info">
        <div class="structure-info__item">
          <p class="structure-info__title">SUPPORTS WEIGHT MANAGEMENT</p>
          <p class="structure-info__descr">It is a long established fact that a reader will be distracted by the readable content of a page.</p>
        </div>
        <div class="structure-info__item">
          <p class="structure-info__title">SUPPORTS HEALTHY SKIN</p>
          <p class="structure-info__descr">It is a long established fact that a reader will be distracted by the readable layout.</p>
        </div>
        <div class="structure-info__item">
          <p class="structure-info__title">SUPPORTS OVERALL
            <br>
            HEALTH AND WELLBEING</p>
          <p class="structure-info__descr">It is a long established fact that a reader will be distracted by the readable layout.</p>
        </div>
        <div class="structure-info__item">
          <p class="structure-info__title">SUPPORTS WHOLE BODY
            <br>
            CLEANSE & DETOXIFICATION</p>
          <p class="structure-info__descr">It is a long established fact that a reader will be distracted by the readable content of a page.</p>
        </div>
        <div class="structure-info__item">
          <p class="structure-info__title">SUPPORTS OVERALL
            <br>
            HEALTH AND WELLBEING</p>
          <p class="structure-info__descr">It is a long established fact that a reader will be distracted by the readable layout.</p>
        </div>
        <div class="structure-info__item">
          <p class="structure-info__title">SUPPORTS HEALTHY SKIN</p>
          <p class="structure-info__descr">It is a long established fact that a reader will be distracted by the readable layout.</p>
        </div>
      </div>
      <div class="structure__rounds">
        <div class="structure__picture"></div>
      </div>
    </div>
  </div>
</section>
